
.rtl {
  direction: rtl; 
}

.ltr {
  direction: ltr; 
}

.rtl .switcher{
  right: 60px;
  left: inherit;
}

.rtl .switcher .switch_menu{
  left: inherit;
  right: 0px;
}

.rtl .owl-carousel{
  direction: ltr;
}

.rtl .scroll-to-top .scroll-bar{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .main-menu .navigation > li{
  float: right;
}

.rtl .main-menu .navigation > li:first-child{
  margin-left: 15px !important;
  margin-right: 0px;
}

.rtl .main-menu .navigation > li:last-child{
  margin-right: 15px !important;
  margin-left: 0px;
}

.rtl .main-menu .navigation > li > ul > li > a, 
.rtl .main-menu .navigation > li > .megamenu li > a{
  text-align: right;
}

.rtl .main-menu .navigation li.dropdown .megamenu li h4{
  text-align: right;
}

.rtl .main-menu .navigation > li > ul > li > ul > li > a{
  text-align: right;
}

.rtl .main-menu .navigation > li > ul > li.dropdown > a:after{
  right: inherit;
  left: 20px;
  content: "\f104";
}

.rtl .mobile-menu{
  text-align: right;
}

.rtl .mobile-menu .nav-logo{
  text-align: right;
}

.rtl .mobile-menu .navigation li > a:before{
  left: inherit;
  right: 0px;
}

.rtl .mobile-menu .navigation li.dropdown .dropdown-btn{
  right: inherit;
  left: 6px;
}

.rtl .mobile-menu .navigation li.dropdown .dropdown-btn.open{
  transform: rotate(-90deg);
}

.rtl .scroll-to-top{
  right: inherit;
  left: 0px;
}

.rtl .main-header .menu-right-content .support-box{
  margin-right: 0px;
  margin-left: 75px;
  padding-left: 0px;
  padding-right: 62px;
}

.rtl .main-header .menu-right-content .support-box:before{
  right: inherit;
  left: -38px;
}

.rtl .main-header .menu-right-content .support-box .icon-box{
  left: inherit;
  right: 0px;
}

.rtl .header-top .info-list li{
  margin-right: 0px;
  margin-left: 70px;
}

.rtl .header-top .social-links li{
  margin-right: 0px;
  margin-left: 23px;
}

.rtl .list-style-one li{
  padding-left: 0px;
  padding-right: 28px;
}

.rtl .list-style-one li:before{
  left: inherit;
  right: 0px;
}

.rtl .main-footer .contact-widget .info-list li{
  padding-left: 0px;
  padding-right: 37px;
}

.rtl .main-footer .contact-widget .info-list li img{
  left: inherit;
  right: 0px;
}

.rtl .main-footer .about-widget .social-links li{
  float: right;
  margin-right: 0px;
  margin-left: 30px;
}

.rtl .theme-btn{
  direction: ltr;
}

.rtl .nice-select{
  text-align: right !important;
}

.rtl .nice-select .option{
  text-align: right;
}

.rtl .default-form .form-group input[type='text'], 
.rtl .default-form .form-group input[type='email'], 
.rtl .default-form .form-group textarea, 
.rtl .default-form .form-group .nice-select{
  padding-left: 20px;
  padding-right: 46px;
}

.rtl .default-form .form-group .icon{
  left: inherit;
  right: 20px;
}































